Repository beicause/bevy_basisu_loader: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, taplo-toml

.pre-commit-config.yaml:

default_language_version:
  python: python3
exclude: |
  (?x)^(
    .*thirdparty/.*|
    .*\.svg|
    vendor/basis_universal/.*|
  )$
repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-added-large-files
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo-fmt
        description: Format files with cargo fmt.
        entry: cargo
        language: system
        types: [rust]
        args: [
            # "+nightly",
            "fmt",
            "--all",
          ]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo-clippy
        description: Lint rust sources
        entry: cargo
        language: system
        args: [
            # "+nightly",
            "clippy",
            "--workspace",
            "--all-targets",
            "--all-features",
            "--",
            "-Dwarnings",
          ]
        types: [rust]
        pass_filenames: false

      - id: taplo-toml
        name: taplo-toml
        description: Format toml with taplo.
        entry: taplo fmt
        language: system
        types: [toml]

CI: Add rust build
  .github/workflows/ci.yml
Due: none

Add package manifests, rename basisu_sys
  .gitattributes
  Cargo.lock
  Cargo.toml
  README.md
  crates/basisu_sys/Cargo.toml
  crates/basisu_sys/basisu_sys.js
  crates/basisu_sys/build.rs
  crates/basisu_sys/src/bin/build_wasm_cli.rs
  crates/basisu_sys/src/lib.rs
  crates/basisu_sys/src/native.rs
  crates/basisu_sys/src/web.rs
  crates/basisu_sys/vendor
  crates/basisu_sys/wasm/basisu_vendor.js
  crates/basisu_sys/wasm/basisu_vendor.wasm
  src/lib.rs
  src/loader.rs
Due: cargo-fmt, cargo-clippy, taplo-toml

Add package manifests, rename basisu_sys (#11)
  .gitattributes
  Cargo.lock
  Cargo.toml
  README.md
  crates/basisu_sys/Cargo.toml
  crates/basisu_sys/basisu_sys.js
  crates/basisu_sys/build.rs
  crates/basisu_sys/src/bin/build_wasm_cli.rs
  crates/basisu_sys/src/lib.rs
  crates/basisu_sys/src/native.rs
  crates/basisu_sys/src/web.rs
  crates/basisu_sys/vendor
  crates/basisu_sys/wasm/basisu_vendor.js
  crates/basisu_sys/wasm/basisu_vendor.wasm
  src/lib.rs
  src/loader.rs
Due: cargo-fmt, cargo-clippy, taplo-toml

more ci
  .github/workflows/ci.yml
  .github/workflows/ci_full.yml
Due: none

ci
  .github/workflows/ci_full.yml
Due: none

Fix windows
  crates/basisu_sys/build.rs
Due: cargo-fmt, cargo-clippy

ci
  .github/workflows/static.yml
  crates/basisu_sys/wasm/basisu_vendor.wasm
Due: none

allow dispatch
  .github/workflows/ci.yml
  .github/workflows/ci_full.yml
Due: none

CI: Add build tests (#10)
  .github/workflows/ci.yml
  .github/workflows/ci_full.yml
  .github/workflows/static.yml
  crates/basisu_sys/build.rs
  crates/basisu_sys/wasm/basisu_vendor.wasm
Due: cargo-fmt, cargo-clippy

Setup workflow to publish to crate.io
  .github/workflows/release.yml
  Cargo.toml
  README.md
  crates/basisu_sys/Cargo.toml
  crates/basisu_sys/build.rs
  examples/test_scene/Cargo.toml
Due: cargo-fmt, cargo-clippy, taplo-toml

Fix release
  .github/workflows/release.yml
  Cargo.toml
  crates/basisu_sys/Cargo.toml
Due: taplo-toml

Release v0.1.1
  Cargo.toml
  crates/basisu_sys/Cargo.toml
Due: taplo-toml

Release v0.1.2
  .github/workflows/release.yml
  Cargo.toml
  crates/basisu_sys/Cargo.toml
Due: taplo-toml

Release v0.1.3
  .github/workflows/release.yml
  Cargo.toml
  crates/basisu_sys/Cargo.toml
Due: taplo-toml

Release v0.1.4
  .github/workflows/ci_full.yml
  .github/workflows/release.yml
  .github/workflows/static.yml
  Cargo.toml
  crates/basisu_sys/Cargo.toml
Due: taplo-toml

Release v0.1.5
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/basisu_sys/Cargo.toml
Due: taplo-toml

Update readme
  README.md
Due: none

Release v0.1.6
  Cargo.toml
  crates/basisu_sys/Cargo.toml
Due: taplo-toml

Directly bind `basisu_vendor.js` methods in rust
  .github/actions/install-linux-deps/action.yml
  .github/workflows/ci_full.yml
  .github/workflows/release.yml
  README.md
  crates/basisu_sys/basisu_sys.js
  crates/basisu_sys/src/web.rs
Due: cargo-fmt, cargo-clippy

Fix Release CI
  .github/workflows/release.yml
Due: none

Fix error cannot perform TypedArray.set on a detached ArrayBuffer
  crates/basisu_sys/src/web.rs
Due: cargo-fmt, cargo-clippy

Add logs in loader
  Cargo.toml
  examples/test_scene/src/lib.rs
  src/loader.rs
Due: cargo-fmt, cargo-clippy, taplo-toml

ETC1S: Prefer BC7 over ETC2
  .github/workflows/release.yml
  .github/workflows/static.yml
  README.md
  crates/basisu_sys/wasm/basisu_vendor.js
  crates/basisu_sys/wasm/basisu_vendor.wasm
  vendor/transcoding_wrapper.cpp
Due: none

Update prebuilt wasm
  crates/basisu_sys/wasm/basisu_vendor.js
  crates/basisu_sys/wasm/basisu_vendor.wasm
Due: none

Update ci
  .github/workflows/ci.yml
  .github/workflows/ci_full.yml
Due: none

ETC1S: Prefer BC7 over ETC2 (#13)
  .github/workflows/ci.yml
  .github/workflows/ci_full.yml
  .github/workflows/release.yml
  .github/workflows/static.yml
  README.md
  crates/basisu_sys/wasm/basisu_vendor.wasm
  vendor/transcoding_wrapper.cpp
Due: none

Release v0.1.7
  Cargo.toml
  crates/basisu_sys/Cargo.toml
Due: taplo-toml

ETC1S: Add BC4 and BC5 target
  crates/basisu_sys/Cargo.toml
  crates/basisu_sys/build.rs
  vendor/transcoding_wrapper.cpp
Due: cargo-fmt, cargo-clippy, taplo-toml

Update wasm
  crates/basisu_sys/wasm/basisu_vendor.wasm
Due: none

ETC1S: Add BC4 and BC5 targets (#15)
  crates/basisu_sys/Cargo.toml
  crates/basisu_sys/build.rs
  crates/basisu_sys/wasm/basisu_vendor.wasm
  vendor/transcoding_wrapper.cpp
Due: cargo-fmt, cargo-clippy, taplo-toml

Add loader settings to set srgb-ness, channel and transcode target.
  assets/alpha0_etc1s.basisu_ktx2
  crates/basisu_sys/build.rs
  crates/basisu_sys/src/lib.rs
  crates/basisu_sys/src/native.rs
  crates/basisu_sys/src/web.rs
  crates/basisu_sys/wasm/basisu_vendor.js
  crates/basisu_sys/wasm/basisu_vendor.wasm
  examples/test_scene/src/lib.rs
  src/lib.rs
  src/loader.rs
  vendor/transcoding_wrapper.cpp
  vendor/transcoding_wrapper.hpp
Due: cargo-fmt, cargo-clippy

Add loader settings to set srgb-ness, channel and transcode target (#16)
  assets/alpha0_etc1s.basisu_ktx2
  crates/basisu_sys/build.rs
  crates/basisu_sys/src/lib.rs
  crates/basisu_sys/src/native.rs
  crates/basisu_sys/src/web.rs
  crates/basisu_sys/wasm/basisu_vendor.js
  crates/basisu_sys/wasm/basisu_vendor.wasm
  examples/test_scene/src/lib.rs
  src/lib.rs
  src/loader.rs
  vendor/transcoding_wrapper.cpp
  vendor/transcoding_wrapper.hpp
Due: cargo-fmt, cargo-clippy

Remove prebuilt wasm in repo and add it to .gitignore
  .gitattributes
  .github/workflows/ci.yml
  .github/workflows/ci_minimal.yml
  crates/basisu_sys/.gitignore
  crates/basisu_sys/Cargo.toml
  crates/basisu_sys/wasm/.gitkeep
  crates/basisu_sys/wasm/basisu_vendor.js
  crates/basisu_sys/wasm/basisu_vendor.wasm
Due: taplo-toml

Release v0.2.0
  Cargo.toml
  README.md
  crates/basisu_sys/Cargo.toml
Due: taplo-toml
